{% extends "::base.html.twig" %}

{% form_theme form _self %}



{% block form_row %}
    <div class="form_row" style='margin: 5px; float: left; clear:none;'>
        <span class='checkbox inline' style='padding:5px;'>{{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}</span>
    </div>
{% endblock form_row %}

{% block title %}{{ question.category.study.name }} - {{ question.name }}{% endblock %}

{% block header %} 
<script>
$(document).ready(function() {

    $('.checked').attr('checked', 'checked');

    $('#update_me').click(function(){
        var route = '';
        if($('#form_USA').is(':checked')){
            route += '/USA';
        }
        if($('#form_Illinois').is(':checked')){
            route += '/Illinois';
        }
        if($('#form_Chicago').is(':checked')){
            route += '/Chicago';
        }
        if($('#form_New_York_City').is(':checked')){
            route += '/New York City';
        }
        $("#update_me").attr("href", "{{ path('singlequestion', {'id': question.id}) }}" + route );
    });
  
});
</script>
{{ include ('CDCChartBundle:Default:button-menu.html.twig', {'selections': selections}) }}

{% endblock %}

{% block sidebar %}
<h5>{{ question.category.study.name }}</h5>
<h3>{{ question.name }}</h3><p class='lead'>{{ question.description }}
<h4>Geographies</h4>
<em>Click the checkboxes to display that geography</em>
{{ form(form, {'attr': {'class': 'form-inline'}}) }}
<a href='' id='update_me'><button class="btn btn-primary" type="button">Update</button></a>
{% endblock %}

{% block content %}

<script src="{{ asset('js/chart.min.js') }}"></script>

<canvas id="canvas" height="400" width="870px"></canvas>

<script>
  var barOptions = {
        
    scaleOverride : true,
    scaleSteps : 5,
    scaleStepWidth : {{ step }},
    scaleStartValue : {{ min }},
    scaleShowLabels : true,

  }

  var barChartData = {
      labels : ["1993","1995","1997","1999","2001","2003","2005","2007","2009","2011"],
      {{ dataset | raw }}
    }

  var myBar = new Chart(document.getElementById("canvas").getContext("2d")).Bar(barChartData, barOptions);
  
</script>
<table class='table table-hover' style='margin-left: 35px; margin-top: 15px; width: 800px;'><tr><th></th><th>1993</th><th>1995</th><th>1997</th><th>1999</th><th>2001</th><th>2003</th><th>2005</th><th>2007</th><th>2009</th><th>2011</th></tr>
{{ g1row | raw }} {{ g2row | raw }} {{ g3row | raw }} {{ g4row | raw }}
</table>
{% endblock %}
