{% set root = 'http://beyoubehealthy.org' %}
<div class='span16 top-bar'>

  <ul class="pull-right">
		<li style='float: left; clear: none;'><a href="{{root}}/bodies.php">Sex &amp; Relationships</a></li>
					<li style='float:left; clear: none;'><a href="{{root}}/health-matters.php">Health Matters</a></li>
					<li style='float:left; clear:none;'><a href="{{root}}/teen_health_rights.php">Teen Rights</a></li>
					<li style='float:left; clear:none;'><a href="http://beyoumedia.org" target="_blank">BeYou Media</a></li>
					<li style='float:left; clear:none;'><a href="http://data.beyoubehealthy.org">Data &amp; Research</a></li>
	     <li class="social pull-left" style="list-style: none"><a href="http://www.facebook.com/sexloop" target="_blank"><i class="icon-facebook" style="font-color: white; font-size: 20px"> </i></a></li>
    <li class="social pull-left" style="list-style: none"><a href="https://twitter.com/sexedloop" target="_blank"><i class="icon-twitter" style="font-color: white; font-size: 20px; padding-right: 10px"> </i></a></li>
    <li class="social pull-left" style="list-style: none"><a href="http://www.sexedloop.com/feed" target="_blank"><i class="icon-rss" style="font-color: white; font-size: 20px; padding-right: 15px"> </i></a></li>
  </ul>
</div>
</div>
<div class='row'><div class='span15 offset1'>
  <a href="{{root}}/index.php"><img src="{{root}}/images/BeYouBeHealthy_logo_300.png" alt="Be You Be Healthy Logo"></a>
</div>
</div>
