{% extends "::base.html.twig" %}
{% block title %}{{ study.name }}{% endblock %}
{% block header %} 
<h1>{{ study.name }}</h1>
{{ include ('CDCChartBundle:Default:button-menu.html.twig') }}
{% endblock %}

{% block content %}

{{ study.description | raw }}
<p>Select topics from the menu above to view data for distinct years and geographies.</p>
{{ include ('CDCChartBundle:Study:study-questions.html.twig', {'questions': questions}) }}

{% endblock %}

