{% if questions %}
<h3>Study Topics</h3>
{% else %}
<p><em>Study data coming soon.</em></p>
{% endif %}  

{% set counter = 0 %}
{% for item in questions %}
     {% if counter == 0 %}
	<strong>{{item.category.name}}</strong><ul>
{% elseif counter != item.category.id %}
	</ul><strong>{{item.category.name}}</strong><ul>
{% endif %}

	<li><a href='{{ path('singlequestion', {'id': item.id })}}{{selections}}'>{{ item.name }}</a></li>

     {% set counter = item.category.id %}
{% endfor %}
</ul>
